@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background: #edf3fb;
}

* {
  box-sizing: border-box;
}
